In [3]:
# List
# Q1: Create a list of 5 numbers and print it
list1 = [10, 20, 30, 40, 50]
print("list1:", list1)

list1: [10, 20, 30, 40, 50]

In [9]:
# Q2: Add a new number to the list
list1.append(60)
print("appended_list:", list1)

appended_list: [10, 20, 30, 40, 50, 60, 60, 60]

In [11]:
# Q3: Remove the 3rd element
list1.pop(2)
print("newlist:", list1)

newlist: [10, 20, 40, 50, 60, 60, 60]

In [13]:
# Q4: Sort the list
list1.sort()
print("sorted _li:", list1)

Q4: [10, 20, 40, 50, 60, 60, 60]

In [67]:
# Q5: Find the sum of all elements
print("sum:", sum(list1))

sum: 300

In [69]:
#Tuple
# Q1: Create a tuple of 3 strings
tup1 = ("apple", "banana", "cherry")
print("Tuple:", tup1)

Tuple: ('apple', 'banana', 'cherry')

In [71]:
# Q2: Access the second element
print("2nd element is:", tup1[1])

2nd element is: banana

In [73]:
# Q3: Convert tuple to list
tup_list = list(tup1)
print("list is:", tup_list)

list is: ['apple', 'banana', 'cherry']

In [75]:
# Q4: Check if "apple" is in tuple
print("is tuple:", "apple" in tup1)

is tuple: True

In [77]:
# Q5: Get length of tuple
print("length is:", len(tup1))

length is: 3

In [79]:
#Dictionary
# Q1: Create a dictionary with name and age
my_dict = {"name": "Raj", "age": 25}
print("dictionary is:", my_dict)

dictionary is: {'name': 'Raj', 'age': 25}

In [81]:
# Q2: Add a new key-value pair (city)
my_dict["city"] = "Delhi"
print("new_dict:", my_dict)

new_dict: {'name': 'Raj', 'age': 25, 'city': 'Delhi'}

In [31]:

# Q3: Access value by key
print("the value:", my_dict["name"])

Q3: Raj

In [83]:
# Q4: Update the age
my_dict["age"] = 30
print("updated_dict:", my_dict)

updated_dict: {'name': 'Raj', 'age': 30, 'city': 'Delhi'}

In [85]:
# Q5: Remove the key "city"
my_dict.pop("city")
print("updated_dictionary:", my_dict)

updated_dictionary: {'name': 'Raj', 'age': 30}

In [87]:
#Set
# Q1: Create a set of 3 numbers
s = {1, 2, 3}
print("set is:", s)

set is: {1, 2, 3}

In [89]:
# Q2: Add a new number
s.add(4)
print("added set:", s)

added set: {1, 2, 3, 4}

In [91]:
# Q3: Remove a number
s.discard(2)
print("new_set:", s)

new_set: {1, 3, 4}

In [93]:
# Q4: Check if 3 is in the set
print("is 3:", 3 in s)

is 3: True

In [95]:
# Q5: Perform union with another set
s2 = {5, 6}
print("union:", s.union(s2))

union: {1, 3, 4, 5, 6}

In [47]:
#Comprehension
# Q1: Create list of squares from 1 to 5
squares = [x**2 for x in range(1, 6)]
print("list_comprehension:", squares)

Q1: [1, 4, 9, 16, 25]

In [97]:
# Q2: Create list of even numbers from 1 to 10
evens = [x for x in range(1, 11) if x % 2 == 0]
print("even_list:", evens)

even_list: [2, 4, 6, 8, 10]

In [99]:
# Q3: Create list of characters from string
chars = [ch for ch in "hello"]
print("listfromchar:", chars)

listfromchar: ['h', 'e', 'l', 'l', 'o']

In [103]:
# Q4: Filter numbers > 3 from list
nums = [1, 2, 3, 4, 5]
filtered = [x for x in nums if x > 3]
print("filtered_element:", filtered)

filtered_element: [4, 5]

In [55]:
# Q5: Convert list of strings to uppercase
names = ["raj", "simran", "amit"]
upper_names = [name.upper() for name in names]
print("Q5:", upper_names)

Q5: ['RAJ', 'SIMRAN', 'AMIT']

In [57]:
# Functions - lambda, map, filter
# Q1: Use lambda to add 10 to a number
add10 = lambda x: x + 10
print("Q1:", add10(5))

Q1: 15

In [59]:
# Q2: Use map to square a list
nums = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, nums))
print("mapped_list:", squared)

Q2: [1, 4, 9, 16]

In [105]:
# Q3: Use filter to get even numbers
even_nums = list(filter(lambda x: x % 2 == 0, nums))
print("even_numbers:", even_nums)

even_numbers: [2, 4]

In [107]:
# Q4: Use lambda to multiply two numbers
multiply = lambda x, y: x * y
print("product is:", multiply(4, 5))

product is: 20

In [109]:
# Q5: Use map to convert to uppercase
names = ["raj", "amit", "pooja"]
upper = list(map(lambda x: x.upper(), names))
print("UpperCaseElements:", upper)

UpperCaseElements: ['RAJ', 'AMIT', 'POOJA']