In [5]:
#1.Add a New Key-Value Pair to a Dictionary
d={"shabaul":"haque","age":23,"address":"delhi"}
print(d)
d["marital status"]="unmarried"
print(d)

{'shabaul': 'haque', 'age': 23, 'address': 'delhi'}
{'shabaul': 'haque', 'age': 23, 'address': 'delhi', 'marital status': 'unmarried'}

In [7]:
#2.Write a program to sum all the numeric values in a dictionary
expenses = {'food': 200, 'rent': 800, 'utilities': 300}
sum=0
for i in expenses.values():
    sum+=i
print(sum)

1300

In [9]:
expenses = {'food': 200, 'rent': 800, 'utilities': 300}
sumvalue=0
for i in expenses:
    sumvalue+=expenses[i]
print(sumvalue)

1300

In [11]:
#3.Write a program to remove a key from a dictionary.
student = {'name': 'Bob', 'age': 22, 'grade': 'A'} #remove age
z=student.pop("age")
print(student,z)
#z = student.pop("age", None)  # Returns None if "age" doesn't exist

{'name': 'Bob', 'grade': 'A'} 22

In [13]:
#4.Write a program to extract all the keys from a dictionary into a list.
fruit_prices = {'apple': 100, 'banana': 40, 'mango': 80}
mylist=[]
for i in fruit_prices:
    mylist.append(i)
print(mylist)

['apple', 'banana', 'mango']

In [15]:
#5.Write a program to print each key and its value in a dictionary using a loop.
employee = {'id': 101, 'name': 'John', 'salary': 50000}
for i in employee:
    print(i,employee[i])

id 101
name John
salary 50000

In [17]:
employee = {'id': 101, 'name': 'John', 'salary': 50000}
for i in employee.keys():
    print(i,employee[i])

id 101
name John
salary 50000

In [25]:
#6.Write a program to count how many times each character appears in a given string using a dictionary.
inputstr="datascience"
d2={}
for i in inputstr:
        if(i in d2):
            d2[i]=d2[i]+1
        else:
            d2[i]=1
print(d2)

{'d': 1, 'a': 2, 't': 1, 's': 1, 'c': 2, 'i': 1, 'e': 2, 'n': 1}

In [39]:
#7.Write a program to merge two dictionaries into one.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3={}
for i in dict1 :
    if(i in dict3):
        continue
    else:
        dict3[i]=dict1[i]
for i in dict2:
    if(i in dict3):
        continue
    else:
        dict3[i]=dict2[i]
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [41]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3={}
for i in dict1:
    dict3[i]=dict1[i]
for i in dict2:
    dict3[i]=dict2[i]
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [45]:
#8.Write a program to find the highest value in the dictionary.
marks = {'Alice': 88, 'Bob': 75, 'Charlie': 95}
max=0
for i in marks.values():
    if(i>max):
        max=i
print(max)

95

In [61]:
#9.Write a program to find the key with the highest value in the dictionary.
mark = {'Alice': 88, 'Bob': 75, 'Charlie': 95}
maxx=0
topper=""
for i in mark:
    if(mark[i]>maxx):
        maxx=mark[i]
        topper=i
print(topper)
print(topper,maxx)

Charlie
Charlie 95

In [67]:
#10.Write a program that checks if a given key exists in a dictionary.
my_dict = {'name': 'Mantasha', 'course': 'Data Science'}
key = 'course'
for i in my_dict:
    if(i=='course'):
        print("yes available")
#but this will not print anything when the key is not found

yes available

In [77]:
my_dict = {'name': 'Mantasha', 'course': 'Data Science'}
key="course"
if(key in my_dict):
    print("yes available")
else:
    print("not available")

yes available

In [79]:
my_dict = {'name': 'Mantasha', 'course': 'Data Science'}
key="course"
if("course" in my_dict):
    print("yes available")
else:
    print("not available")

yes available

In [81]:
my_dict = {'name': 'Mantasha', 'course': 'Data Science'}
key="age"
if(key in my_dict):
    print("yes available")
else:
    print("not available")

not available

In [112]:
#11.Write a program that creates a dictionary by combining two lists: one of keys and one of values.
keys = ['name', 'age', 'gender']
values = ['Alice', 25, 'Female']
d3={}
for i in range(0,3):
    d3[keys[i]]=values[i]
print(d3)

{'name': 'Alice', 'age': 25, 'gender': 'Female'}

In [114]:
#better way
keys = ['name', 'age', 'gender']
values = ['Alice', 25, 'Female']
d3={}
for i in range(len(keys)):
    d3[keys[i]]=values[i]
print(d3)

{'name': 'Alice', 'age': 25, 'gender': 'Female'}

In [5]:
#11.Create a dictionary with the keys 'name', 'age', and 'gender', and assign them appropriate values.
d4={"name":"shabaul","age":23,"gender":"male"}
print(d4)

{'name': 'shabaul', 'age': 23, 'gender': 'male'}

In [7]:
#12.Access the value associated with the key 'age' from this dictionary:
student = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
student["age"]

22

In [13]:
#13.Update the 'age' value of the above dictionary to 23.
student1 = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
student1["age"]=23
print(student1)

{'name': 'Alice', 'age': 23, 'gender': 'Female'}

In [15]:
#14.Add a new key-value pair 'course': 'Data Science' to the above dictionary.
student2 = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
student2["course"]="Data Science"
print(student2)

{'name': 'Alice', 'age': 22, 'gender': 'Female', 'course': 'Data Science'}

In [19]:
#15.Delete the key 'gender' from the above dictionary.
student3 = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
x=student3.pop("gender")
print(student3)

{'name': 'Alice', 'age': 22}

In [23]:
#16.Check if the key 'name' exists in the dictionary.
student4 = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
if("name" in student4):
    print("available")
else:
    print("not available")

available

In [25]:
#17.Get all the keys from the dictionary using a built-in method.
student5 = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
for i in student5.keys():
    print(i)

name
age
gender

In [27]:
#non-inbuilt method, loop gives keys only
student6 = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
for i in student6:
    print(i)

name
age
gender

In [29]:
#18.Get all the values from the dictionary using a built-in method.
student7 = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
for i in student7.values():
    print(i)

Alice
22
Female

In [31]:
#19.Create an empty dictionary using two different methods.
# 1. Using curly braces {}
# For empty dictionary:
# my_dict = {}
# my_dict = {'name': 'Alice', 'age': 25}

# 2. Using dict() constructor
# - For empty dictionary:
# my_dict = dict()

# - For a dictionary with data:
# my_dict = dict(name='Alice', age=25)

#3. Using a list of tuples (key-value pairs)
#my_dict = dict([('name', 'Alice'), ('age', 25)])

#4. Using zip() function
# keys = ['name', 'age']
# values = ['Alice', 25]
# my_dict = dict(zip(keys, values))

#5. Using dictionary comprehension
#my_dict = {x: x**2 for x in range(3)}
# Output: {0: 0, 1: 1, 2: 4}

#6. Using fromkeys() method
# keys = ['name', 'age', 'gender']
# my_dict = dict.fromkeys(keys)
# {'name': None, 'age': None, 'gender': None}

#my_dict2 = dict.fromkeys(keys, 'unknown')
# {'name': 'unknown', 'age': 'unknown', 'gender': 'unknown'}


#❌ Invalid Way (Will cause error):
# my_dict = new dict{}   # ❌ Wrong syntax

In [45]:
#19.Create an empty dictionary using two different methods.
#1st:
mydict1={}
print(mydict1)

#2nd:
keys=["name","age"]
values=["shabaul",23]
mydictionary2=dict(zip(keys,values))
print(mydictionary2)

#3rd
mydict2={x:x**2 for x in range(3)}
print(mydict2)

#4th
keys=["name","age","sex"]
mydict3=dict.fromkeys(keys)
print(mydict3)

#5th
mydict4=dict()
print(mydict4)

#6th
mydict5=dict(name="shabaul",age=23)
print(mydict5)

{}
{'name': 'shabaul', 'age': 23}
{0: 0, 1: 1, 2: 4}
{'name': None, 'age': None, 'sex': None}
{}
{'name': 'shabaul', 'age': 23}

In [47]:
#20.Loop through the dictionary and print each key and its value on separate lines.
student8 = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
for i in student8:
    print(i,student8[i])

name Alice
age 22
gender Female

In [57]:
# Basic Dictionary Questions (Level 2)
#21. Use the .get() method to access the value of key 'age' from this dictionary. What happens if the key doesn't exist?
student9 = {'name': 'Alice', 'age': 22}
student9.get("age")

22

In [5]:
student10 = {'name': 'Alice', 'age': 22}
(student10.get("gender"))
#it returns none but we dont see any output because we are not printing it

In [13]:
student11 = {'name': 'Alice', 'age': 22}
print((student11.get("gender")))
#here we can see none because we printed it

None

In [19]:
#22. Merge these two dictionaries using the .update() method:
dict1 = {'name': 'Alice', 'age': 22}
dict2 = {'gender': 'Female', 'course': 'DS'}
dict1.update(dict2)
print(dict1)

{'name': 'Alice', 'age': 22, 'gender': 'Female', 'course': 'DS'}

In [23]:
#23. Create a dictionary from these two lists:
keys = ['name', 'age', 'gender']
values = ['Alice', 22, 'Female']
d5=dict(zip(keys,values))
print(d5)

{'name': 'Alice', 'age': 22, 'gender': 'Female'}

In [3]:
keyss = ['name', 'age', 'gender']
valuess = ['Alice', 22, 'Female']
d6={}
for i in range(0,len(keyss)):
    d6[keyss[i]]=valuess[i]
print(d6)

{'name': 'Alice', 'age': 22, 'gender': 'Female'}

In [13]:
#24. Remove the last inserted item from a dictionary using a built-in method.
sample = {'a': 1, 'b': 2, 'c': 3}
last=sample.pop("c")
print(last)
#it does remove the last element but i am manually specifying the key
#.popitem() removes and returns the last inserted item as a (key, value) tuple.

3

In [21]:
sample1 = {'a': 1, 'b': 2, 'c': 3}
lastt=sample1.popitem()
print(lastt)
print(sample1)

('c', 3)
{'a': 1, 'b': 2}

In [37]:
#25. Use del to remove a key 'b' from the dictionary below.
# del is a Python keyword used as a statement to delete:

# a variable
# a key from a dictionary
# a slice from a list
# or even an item from a list
# x = 10
# del x

# or

# d = {'a': 1, 'b': 2}
# del d['b']


sample2 = {'a': 1, 'b': 2, 'c': 3}
del sample2["b"]
print(sample2)

{'a': 1, 'c': 3}

In [45]:
#26.  Create a dictionary using a loop where keys are numbers from 1 to 5 and values are their squares.
dic={x:x**2 for x in range(1,6):}
print(dic)
#we dont use :(colon) after describing for loop in comprehension method

SyntaxError: invalid syntax (1798879568.py, line 2)

In [47]:
dic1={x:x**2 for x in range(1,6)}
print(dic1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [49]:
d7={}
for i in range(1,6):
    d7[i]=i**2
print(d7)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [51]:
#27. Count the frequency of each character in the string 'banana' using a dictionary.
str1="banana"
d8={}
for i in str1:
    if(i in d8):
        d8[i]=d8[i]+1
    else:
        d8[i]=1
print(d8)

{'b': 1, 'a': 3, 'n': 2}

In [61]:
#28. Create a copy of a dictionary using the .copy() method.
copyd={"name":"shabaul","age":24,"status":"unmarried"}
copied_dictionary=copyd.copy()
print(copied_dictionary)

{'name': 'shabaul', 'age': 24, 'status': 'unmarried'}

In [77]:
#29. Write a program that asks user to enter 3 key-value pairs and stores them in a dictionary.
count=1
d9={}
for i in range(0,3):
    keys=input(f"enter the key {count}")
    values=input(f"enter the value {count}")
    d9[keys]=values
    count+=1
print(d9)

enter the key 1 name
enter the value 1 saif
enter the key 2 age
enter the value 2 23
enter the key 3 gender
enter the value 3 male

{'name': 'saif', 'age': '23', 'gender': 'male'}

In [105]:
#30. Check if the value 22 exists in this dictionary:
studentm = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
if(22 in studentm.values()):
    print("yes")
else:
    print("no")

yes

In [83]:

studentx = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
for i in studentx.values():
    if(i==22):
        print("yes")

yes

In [87]:
studenty = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
for i in studenty:
    if(studenty[i]==22):
        print("yes")

yes

In [89]:
studentz = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
for i in enumerate(studentz):
    print(i)
#enumerate tells the position and key of the element and not the value

(0, 'name')
(1, 'age')
(2, 'gender')

In [93]:
studentv = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
for i in enumerate(studentv):
    print(i,studentv[i])
# to print values also we need to use two variables in enumerate say(index and key)

KeyError: (0, 'name')

In [103]:
studentb = {'name': 'Alice', 'age': 22, 'gender': 'Female'}
for index,key in enumerate(studentb):
    print((index,key),studentb[key])
    if(studentb[key]==22):
        print("yes")

(0, 'name') Alice
(1, 'age') 22
yes
(2, 'gender') Female