In [3]:
def greet():
    print("hey welcome")
greet()

hey welcome

In [5]:
greet()

hey welcome

In [7]:
def greet(z):
    print("hey welcome",z)
greet("saif")

hey welcome saif

In [23]:
def greet(s):
    print(f"hey {s}, how are you?")
greet("shabaul")

hey shabaul, how are you?

In [31]:
def greetings(x):
    print(f"hello man,i saw you in {x} !!")
greetings("antarctica")
greetings("delhi")

hello man,i saw you in antarctica !!
hello man,i saw you in delhi !!

In [33]:
greetings("mumbai")

hello man,i saw you in mumbai !!

In [45]:
def factors(num):
    for i in range(1,num+1):
        if(num%i==0):
            print(i)
factors(12)

1
2
3
4
6
12

In [43]:
num=12
for i in range(1,num+1):
    if(num%i==0):
        print(i)

1
2
3
4
6
12

In [59]:
def factors(num):
    for i in range(1,num+1):
        if(num%i==0):
            print("factors of", num , "is", i)
factors(16)

factors of 16 is 1
factors of 16 is 2
factors of 16 is 4
factors of 16 is 8
factors of 16 is 16

In [91]:
def is_armstrong(num):
    count=0
    while(num>0):
        num=num//10
        count+=1
    print(count)
    sum=0
    original=num
    while(num>0):
        digit=num%10
        power_digit=digit**count
        sum+=power_digit
        num=num//10
    if(original==sum):
        print("armstrong number")
    else:
        print("not an armstrong number")
is_armstrong(370)

3
armstrong number

In [93]:
def is_armstrong(num):
    count=0
    original=num
    length = len(str(num))
    sum=0
    while(num>0):
        digit=num%10
        power_digit=digit**count
        sum+=power_digit
        num=num//10
    if(original==sum):
        print("armstrong number")
    else:
        print("not an armstrong number")
is_armstrong(153)

not an armstrong number

In [109]:

count=0
num=int(input("enter the number:"))
while(num>0):
    num=num//10
    count+=1
print(count)
sum=0
while(num>0):
    digit=num%10
    power_digit=digit**count
    sum+=power_digit
    num=num//10
if(original==sum):
    print("armstrong number")
else:
    print("not an armstrong number")

enter the number: 2

1
armstrong number

In [113]:
def is_armstrong(num):
    count=0
    while(num>0):
        num=num//10
        count+=1
    print("total count:",count)
    sum=0
    original=num
    while(num>0):
        digit=num%10
        power_digit=digit**count
        sum+=power_digit
        num=num//10
    if(original==num):
        print("armstrong number")
    else:
        print("not an armstrong number")
is_armstrong(153)

total count: 3
armstrong number

In [115]:
is_armstrong(1)

total count: 1
armstrong number

In [117]:
is_armstrong(370)

total count: 3
armstrong number

In [119]:
#positional argument(position of arguments run according to the position of the parameters )
def my_detail(name,age,salary):
    print("my name is",name,"age is",age,"salary is",salary)
my_detail("shabaul",23,90000)

my name is shabaul age is 23 salary is 90000

In [121]:
#keyword arguments(position of the arguments do not depend on the position of the keywords )
def my_details(name,age,salary):
    print("my name is",name,"age is",age,"salary is",salary)
my_details(name="saif",age=23,salary=90000)

my name is saif age is 23 salary is 90000

In [123]:
def my_info(name,age,salary):
    print("my name is",name,"age is",age,"salary is",salary)
my_info(age=23,salary=90000,name="shabaul haque")

my name is shabaul haque age is 23 salary is 90000

In [125]:
#combination of positional and keyword arguments
def my_information(name,marital_status,bike):
    print("my name is ",name,"i am",marital_status,"i ride",bike)
my_information("shabaul haque","unmarried",bike="pulsar 220")

my name is  shabaul haque i am unmarried i ride pulsar 220

In [129]:
def my_information(name,marital_status,bike):
    print("my name is ",name,"i am",marital_status,"i ride",bike)
my_information("shabaul haque",marital_status="unmarried",bike="pulsar 220")

my name is  shabaul haque i am unmarried i ride pulsar 220

In [135]:
#while using both positional and keyword arguments, positional argument must be written before any keyword arguments.
#if you once written keyword argument, positional argument further will give error
#you can only use positional argument before keyword argument
def my_information(name,marital_status,bike):
    print("my name is ",name,"i am",marital_status,"i ride",bike)
my_information("shabaul haque",marital_status="unmarried","pulsar 220")

SyntaxError: positional argument follows keyword argument (2849312007.py, line 6)

In [137]:
# Default Parameter:	Refers to the variable in the function header that has a default value,	salary=90000
# Default Argument: 	Refers to the value assigned to the parameter,	90000
def default(name,age=21,sex="male"):
    print("name is ",name,"age is",age,"sex is",sex)
default("shabaul")

name is  shabaul age is 21 sex is male

In [139]:
def default(name,age=21,sex="male"):
    print("name is ",name,"sex is",sex,"age is",age)
default("shabaul")

name is  shabaul sex is male age is 21

In [147]:
def default(name,age=21,sex="male"):
    print("name is ",name,"age is",age,"sex is",sex)
default("shabaul",age=21,sex="male")

name is  shabaul age is 21 sex is male

In [151]:
def default(name="saif",age=21,sex="male"):
    print("name is ",name,"age is",age,"sex is",sex)
default()

name is  saif age is 21 sex is male

In [153]:
# return:
# Sends a value back to the caller of the function from  the function
# Ends the function's execution immediately.
# You can store the returned value or use it later in your code.


# print:
# Just displays the output to the screen (console).
# Does not send any value back to the caller.
# Mainly used for debugging or user messages.

In [157]:
#print just displays the output but does not save it
def fun(x):
    print(x+10)
fun(10)

20

In [173]:
#if you have used print() and has assigned a variable to call the function, it will show the output
def func(x):
    print(x+10)
a=func(10)

20

In [165]:
def function(x):
    print(x+20)
x=function(15)
print("value returned by print:",x)

35
value returned by print: None

In [167]:
def fun(z):
    return z*5
fun(10)

50

In [181]:
#if you have used return and has assigned a variable to call the function, it will not show the output,you have to print the variable to get the output
def fun(c):
    return c*9
x=fun(8)
print(x)

72

In [183]:
#create a function to find the sum of square of natural numbers upto n
def square_natural(n):
    sum=0
    for i in range(1,n+1):
        sum+=i
    print(sum)
square_natural(5)

15

In [185]:
#using while loop
def square(n):
    sum=0
    i=1
    while(i<=n):
        sum+=i
        i+=1
    print(sum)
square(5)

15

In [187]:
#write a function to find the sum of digits of a number
def sum_digits(num):
    sum=0
    while(num>0):
        digit=num%10
        sum+=digit
        num=num//10
    print("sum of digits is:",sum)
sum_digits(1234)

sum of digits is: 10

In [189]:
#create a function to check if a number is odd or even
def oddeve(num):
    if(num%2==0):
        print("even")
    else:
        print("odd")
oddeve(1)

odd

In [193]:
def oddeve(num):
    if(num%2==0):
        print("even")
    else:
        print("odd")
oddeve(10)

even

In [195]:
#add two numbers using function
def add_two(a,b):
    return a+b
add_two(10,20)

30

In [199]:
def add_two(a,b):
    return a+b
x=add_two(10,20)
print(x)

30

In [201]:
def add_two(a,b):
    print(a+b)
add_two(10,20)

30

In [203]:
def add_two(a,b):
    print(a+b)
q=add_two(10,20)

30

In [205]:
def add_two(a,b):
    print(a+b)
q=add_two(10,20)
print(q)

30
None

In [211]:
#duplicate parameter is not valid
def add_two_same_number(a,a):
    return a+a
add_two_same_number(10,20)

SyntaxError: duplicate argument 'a' in function definition (3390111002.py, line 2)