In [1]:
#(*args):it is a variable length argument(passes multiple positional arguments)
def func(*args):
    print(args)
func(2,5)
# *args return output in the form of tuple

(2, 5)

In [3]:
def func(*args):
    print(args)
func(3,4,5,6)

(3, 4, 5, 6)

In [5]:
def fun(*args):
    print(args)
fun("shabaul","saif")

('shabaul', 'saif')

In [9]:
# **kwargs: this is also a variable length argument(but passes multiple keyword arguments in name_value pairs)
def func(**kwargs):
    print(kwargs)
func(name="shabaul",age=23,marital_status="unmarried")
# **kwargs returns output in dictionary

{'name': 'shabaul', 'age': 23, 'marital_status': 'unmarried'}

In [11]:
#lambda functions
#short,one line functions which are anonymous functions because these dont have name
# What is a Lambda Function?
# A lambda function is a small,one line, anonymous function in Python â€” meaning it has no name.
# It's used when you need a function for a short period of time, usually as an argument to another function (like map(), filter(), sorted(), etc.).
(lambda a:a+10)(5)

15

In [13]:
a=lambda x:x*2
a(7)

14

In [17]:
b=lambda y:y**2
b(8)

64

In [21]:
# split method: split() is a method for strings only â€” not for lists or other objects.
# syntax: stringname.split(separator, maxsplit)
# separator â†’ (optional) character to split on (like space, comma, dash, etc.)
# maxsplit â†’ (optional) number of splits to do

x="hello i am shabaul"
x.split( )
print(x)
#you have to store the split method line in a variable to store it in a list

hello i am shabaul

In [23]:
#split be space( )
y="hello my name is shabaul"
a=y.split()
print(a)

['hello', 'my', 'name', 'is', 'shabaul']

In [25]:
z="hi amaan good to see you"
b=z.split( )
print(b)

['hi', 'amaan', 'good', 'to', 'see', 'you']

In [29]:
#split by comma,pass comma as a string in split method
q="hello,how,are,you"
x=q.split(",")
print(x)

['hello', 'how', 'are', 'you']

In [39]:
w="hi, how, are, you"
c=w.split(",        ")
print(c)

['hi, how, are, you']

In [47]:
e="hi how are you"
v=e.split(" ",2)
print(v)
#when using maxsplit, space should be in string

['hi', 'how', 'are you']

In [53]:
r="hihowareyou"
b=r.split()
print(b)
#does not split because there is no space between words of string

['hihowareyou']

In [57]:
t="hi\nhow\nare\nyou"
n=t.split("\n")
print(n)

['hi', 'how', 'are', 'you']

In [67]:
# What does .split(" ") do?
# The .split(" ") method splits a string into a list using a space " " as the separator.
"hey shabaul meet me tomorrow".split()

['hey', 'shabaul', 'meet', 'me', 'tomorrow']

In [73]:
"hey mam good to see you".split( )

['hey', 'mam', 'good', 'to', 'see', 'you']

In [71]:
"hello sir how are you".split(" ")

['hello', 'sir', 'how', 'are', 'you']

In [75]:
"hey,hello,good,boy".split(",")

['hey', 'hello', 'good', 'boy']

In [77]:
"hey hello good girl".split(" ",2)

['hey', 'hello', 'good girl']

In [95]:
a=[1,2,3,4,5,6,7,8,9,10,11]
new=[]
x=lambda a:a%2==0
for i in a:
    if(x(i)):
        new.append([i])
print(new)

[[2], [4], [6], [8], [10]]

In [101]:
# ðŸ”¹ Q1.
# Given a list of numbers, use a lambda function to find all numbers divisible by 3 and store them in a new list.
mylist=[1,2,3,4,5,6,7,8,9,10]

c=lambda x:x%3==0
for i in mylist:
    if(c(i)):
        print(i)

3
6
9

In [103]:
mylist1=[1,2,3,4,5,6,7,8,9,10]
new1=[]
v=lambda x:x%3==0  #You defined a lambda function named v.It checks if a number is divisible by 3. Example: v(3) â†’ True, v(4) â†’ False
for i in mylist1:
    if(v(i)):      #For every number i, you check: Is i divisible by 3? If v(i) is True, you go to the next step.
        new1.append(i)
print(new1)

[3, 6, 9]

In [111]:
my=[1,2,3,4,5,6,7,8,9]
newlist=[]
newlist1=[]
d=lambda x:x%2==0
for i in my:
    if(d(i)):
        newlist.append(i)
        newlist1.append([i])
print(newlist)
print(newlist1)

[2, 4, 6, 8]
[[2], [4], [6], [8]]

In [115]:
#Q2.From a list of strings, use a lambda function and a loop to print only those strings whose length is greater than 5, and store them in a new list.
strings=["shabaul","saif","amaan","pritam"]
new1=[]
q=lambda x:len(x)>5
for i in strings:
    if(q(i)):
        new1.append(i)
print(new1)

['shabaul', 'pritam']

In [117]:
#ðŸ”¹ Q3.Create a list of numbers and use a lambda function to square only the odd numbers and append them to a new list.
list3=[1,2,3,4,5,6,7]
z=[]
t=lambda x:x%2!=0
for i in list3:
    if(t(i)):
        z.append(i*i)
print(z)

[1, 9, 25, 49]

In [123]:
# ðŸ”¹ Q4.
# Given a list of temperatures in Celsius, use a lambda to convert them to Fahrenheit, and store them in a new list.

# Fahrenheit = C Ã— 9/5 + 32
celcius=[70,34,56,78,97]
new8=[]
y=lambda c:9/5*c+32
for i in celcius:
    new8.append(y(i))
print(new8)

[158.0, 93.2, 132.8, 172.4, 206.6]

In [125]:
def details(**kwargs):
    print(kwargs)
details(name="shabaul",age=23,college="jamia")

{'name': 'shabaul', 'age': 23, 'college': 'jamia'}

In [127]:
def my_details(**kwargs):
    print(kwargs)
my_details(id=(lambda x:x+1)(10),age=(lambda y:y*2)(5),college_code=(lambda z:z//2)(8))

{'id': 11, 'age': 10, 'college_code': 4}

In [135]:
def my_details(**kwargs):
    print(kwargs)
    print(kwargs["id"])
    print(kwargs["age"])
    print(kwargs["college_code"])
my_details(id=(lambda x:x+1)(10),age=(lambda y:y*2)(5),college_code=(lambda z:z//2)(8))

{'id': 11, 'age': 10, 'college_code': 4}
11
10
4

In [139]:
def my_details(**kwargs):
    print(kwargs)
    print("id is:",kwargs["id"])
    print("age is:",kwargs["age"])
    print("college code is:",kwargs["college_code"])
my_details(id=(lambda x:x+1)(10),age=(lambda y:y*2)(5),college_code=(lambda z:z//2)(8))

{'id': 11, 'age': 10, 'college_code': 4}
id is: 11
age is: 10
college code is: 4