In [1]:
#set datatype
# Set Data Type in Python
# A set is an unordered, unindexed, and mutable collection of unique elements in Python.

In [13]:
#create an empty set
empty_set=set()
print(empty_set)
type(empty_set)

set()

set

In [15]:
empty_set=set()
print(type(empty_set))

<class 'set'>

In [19]:
myset={10,20,11,10,10,56}
print(myset)

{56, 10, 11, 20}

In [33]:
set1={10,20,30}
set2={30,40,50}
set1.union(set2)

{10, 20, 30, 40, 50}

In [29]:
set1={10,20,30}
set2={30,40,50}
set1 | set2

{10, 20, 30, 40, 50}

In [35]:
#empty set making
empty_sett=set()
print(type(empty_sett))

<class 'set'>

In [39]:
#creating non-empty set
non_emptyset={3,4,5,3,3,"d","f"}
print(type(non_emptyset))

<class 'set'>

In [ ]:
# Union in Set (Python)
# The union of two sets combines all unique elements from both sets.
#set1.union(set2)
#Using | operator:-   set1 | set2
# This returns a new set with all unique elements from both sets, including common elements only once.
# But — if you don't store or print the result, you won’t see it.

In [47]:
# | Method             | Description                                     | Example            |
# | ------------------ | ----------------------------------------------- | ------------------ |
# | `add(elem)`        | Adds a single element to the set                | `s.add(10)`        |
# | `update(iterable)`|Adds multiple elements(from list/set/tuple/dict-keys)| `s.update([4, 5])|
# | `remove(elem)`     | Removes an element; ❌ throws error if not found | `s.remove(3)`      |
# | `discard(elem)`    | Removes an element; ✅ no error if not found     | `s.discard(3)`     |
# | `pop()`            | Removes and returns any random element from set  | `s.pop()`          |
# | `clear()`          | Empties the entire set                          | `s.clear()`        |

In [49]:
# | Method                       | Description                                                   | Example                       |
# | ---------------------------- | ------------------------------------------------------------- | ----------------------------- |
# | `union(set2)`                | Returns a new set with all elements from both sets (no dupes) | `s1.union(s2)`                |
# | `intersection(set2)`         | Returns common elements of both sets                          | `s1.intersection(s2)`         |
# | `difference(set2)`           | Returns elements in `s1` but not in `s2`                      | `s1.difference(s2)`           |
# | `symmetric_difference(set2)` | Elements in either set, but not both                          | `s1.symmetric_difference(s2)` |

In [51]:
# | Method             | Description                                    | Example             |
# | ------------------ | ---------------------------------------------- | ------------------- |
# | `issubset(set2)`   | Checks if all elements of this set are in set2 | `s1.issubset(s2)`   |
# | `issuperset(set2)` | Checks if this set has all elements of set2    | `s1.issuperset(s2)` |
# | `isdisjoint(set2)` | Checks if sets have no common elements         | `s1.isdisjoint(s2)` |

In [53]:
# A = {1, 2, 3}
# B = {3, 4, 5}

# print(A.union(B))             # {1, 2, 3, 4, 5}
# print(A.intersection(B))      # {3}
# print(A.difference(B))        # {1, 2}
# print(A.symmetric_difference(B))  # {1, 2, 4, 5}

In [55]:
myset1={10,20,11,10,10,56}
myset1.add(999)
print(myset1)
#add is used to insert an element in set
#set inserts data at random position

{999, 10, 11, 20, 56}

In [63]:
s1={3,45,53,3,56,6}
s1.update({"a":4,5000:"s"})
print(s1)
#update using dictionary

{'a', 3, 53, 6, 5000, 56, 45}

In [75]:
s2={3,45,53,3,56,6}
s2.update(("a","s","d","l"))
print(s2)
#update using tuple

{3, 6, 'a', 'l', 'd', 45, 53, 's', 56}

In [79]:
s3={3,45,53,3,56,6}
s3.update(["a","s","d","l"])
print(s3)
#update using list

{3, 6, 'a', 'l', 'd', 45, 53, 's', 56}

In [81]:
s4={3,45,53,3,56,6}
s4.update({"a","s","d","l"})
print(s4)
#update using set itself

{'l', 3, 6, 'd', 45, 'a', 53, 's', 56}

In [57]:
#discard and remove ise used to remove any element is set
myset2={10,20,11,10,10,56}
myset2.discard(10)
print(myset2)

{56, 11, 20}

In [85]:
myset3={10,20,11,10,10,56}
myset3.discard(1)
print(myset3)
#discard gives no error even if the element is not found

{56, 10, 11, 20}

In [87]:
myset4={10,20,11,10,10,56}
myset4.remove(10)
print(myset4)

{56, 11, 20}

In [91]:
myset5={10,20,11,10,10,56}
myset5.remove(1000)
print(myset5)

KeyError: 1000

In [99]:
s5={7,3,2,5,6}
x=s5.pop()
print(x,s5)

#pop removed random element from set, also stored it in a variable

2 {3, 5, 6, 7}

In [101]:
s5={7,3,2,5,6,"k","o"}
s5.clear()
print(s5)

set()