## **LIST CHATGPT BEGINNER**

In [9]:
# 1Ô∏è‚É£ Create and Print a List
# Q: Create a list of your 5 favorite fruits and print it.
Fruits=["apple","banana","grapes","mango","guava"]
print(Fruits)

['apple', 'banana', 'grapes', 'mango', 'guava']

In [15]:
# 2Ô∏è‚É£ Access Elements by Index
# Q: Given a list colors = ["red", "blue", "green", "yellow", "orange"], print the 3rd item.
colors=["red", "blue", "green", "yellow", "orange"]
print(colors[2])

green

In [17]:
# 3Ô∏è‚É£ Change an Element
# Q: Change the second element of this list nums = [10, 20, 30, 40] to 25 and print the updated list.
nums=[10,20,30,40]
nums[1]=25
print(nums)

[10, 25, 30, 40]

In [19]:
# 4Ô∏è‚É£ Append an Element
# Q: Add the number 50 to the end of the list nums = [10, 20, 30, 40].
nums2=[10,20,30,40]
nums2.append(50)
print(nums2)

[10, 20, 30, 40, 50]

In [21]:
# 5Ô∏è‚É£ Insert at Specific Position
# Q: Insert the number 15 at index 1 in the list nums = [10, 20, 30].
nums3=[10,20,30]
nums3.insert(1,15)
print(nums3)

[10, 15, 20, 30]

In [23]:
# 6Ô∏è‚É£ Remove a Specific Element
# Q: Remove the element 20 from the list nums = [10, 20, 30, 40].
nums4=[10,20,30,40]
nums4.remove(20)
print(nums4)

[10, 30, 40]

In [27]:
# 7Ô∏è‚É£ Use Pop Method
# Q: Remove the last item from the list nums = [100, 200, 300, 400] and print the result.
nums5=[100,200,300,400]
a=nums5.pop()
print(a)
print(nums5)

400
[100, 200, 300]

In [29]:
# 8Ô∏è‚É£ Loop Through the List
# Q: Print all items in the list cars = ["BMW", "Tesla", "Ford"] using a for loop.
cars = ["BMW", "Tesla", "Ford"]
for i in cars:
    print(i)

BMW
Tesla
Ford

In [45]:
# 9Ô∏è‚É£ Check Membership
# Q: Check if "apple" is present in the list fruits = ["banana", "mango", "apple"] and print Yes or No.
fruits = ["banana", "mango", "apple"]
if("apple" in fruits):
    print("Yes")
else:
    print("No")

Yes

In [47]:
# üîü Get List Length
# Q: Print the number of elements in the list languages = ["Python", "Java", "C++", "Go"].
# Use len() function
languages = ["Python", "Java", "C++", "Go"]
print(len(languages))

4

In [49]:
languages1 = ["Python", "Java", "C++", "Go"]
count=0
for i in languages1:
    count+=1
print(count)

4

# **Set 2: Beginner List Questions (11‚Äì15)**

In [53]:
#1Ô∏è‚É£1Ô∏è‚É£ Print Even Numbers from a List
#Q: Given a list nums = [1, 2, 3, 4, 5, 6], print only the even numbers using a loop. -->
numseve = [1, 2, 3, 4, 5, 6]
for i in numseve:
    if(i%2==0):
        print(i)

2
4
6

In [55]:
numseve1 = [1, 2, 3, 4, 5, 6]
for i in range(len(numseve1)):
    if(numseve[i]%2==0):
        print(numseve[i])

2
4
6

In [59]:
# 1Ô∏è‚É£2Ô∏è‚É£ Sum All Elements in a List
# Q: Find the sum of all elements in nums = [10, 20, 30, 40].
# üí° Use sum() or loop
numsum = [10, 20, 30, 40]
sum=0
for i in numsum:
    sum+=i
print("sum is:",sum)

sum is: 100

In [61]:
# 1Ô∏è‚É£3Ô∏è‚É£ Find Maximum Element
# Q: Find and print the largest number in the list marks = [45, 76, 89, 34, 90].
# üí° Use max() or logic
marks = [45, 76, 89, 34, 90]
print(max(marks))

90

In [65]:
marks1 = [45, 76, 89, 34, 90]
maximum=0
for i in marks1:
    if(i>maximum):
        maximum=i
print(maximum)

90

In [67]:
marks2 = [45, 76, 89, 34, 90]
maximum=marks2[0]
for i in range(len(marks2)):
    if(marks2[i]>maximum):
        maximum=marks2[i]
print(maximum)

90

In [71]:
# 1Ô∏è‚É£4Ô∏è‚É£ Find Minimum Element
# Q: Find and print the smallest number in the list ages = [23, 19, 45, 33, 18].
ages1 = [23, 19, 45, 33, 18]
print(min(ages1))

18

In [69]:
# 1Ô∏è‚É£4Ô∏è‚É£ Find Minimum Element
# Q: Find and print the smallest number in the list ages = [23, 19, 45, 33, 18].
ages = [23, 19, 45, 33, 18]
minimum=ages[0]
for i in range(len(ages)):
    if(ages[i]<minimum):
        minimum=ages[i]
print(minimum)

18

In [77]:
# 1Ô∏è‚É£5Ô∏è‚É£ Reverse a List
# Q: Reverse the list letters = ['a', 'b', 'c', 'd'] and print it.
# üí° Use slicing or .reverse()
letters = ['a', 'b', 'c', 'd']
print(letters.reverse())
#it reverses the list but returns none. we have to use reverse method first, then print the new list

None

In [81]:
letters1 = ['a', 'b', 'c', 'd']
letters1.reverse()
print(letters1)

['d', 'c', 'b', 'a']

In [7]:
#using slicing operator to reverse a list
letters2 = ['a', 'b', 'c', 'd']
print(letters2[::-1])

['d', 'c', 'b', 'a']

# **SET-3:  Basic List Questions**

In [12]:
#1Ô∏è‚É£. Create a list of even numbers from 1 to 20 using a loop.
l=[]
for i in range(1,21):
    if(i%2==0):
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
#2Ô∏è‚É£. Find the sum of all elements in a list nums = [3, 5, 7, 9, 11].
nums = [3, 5, 7, 9, 11]
sum=0
for i in nums:
    sum+=i
print("sum is:",sum)

sum is: 35

In [16]:
#3Ô∏è‚É£. Count how many times 4 appears in mylist = [1, 4, 6, 4, 7, 4, 9].
mylist = [1, 4, 6, 4, 7, 4, 9]
count=0
for i in mylist:
    if(i==4):
        count+=1
print(count)

3

In [18]:
#alternate method
mylist = [1, 4, 6, 4, 7, 4, 9]
print(mylist.count(4))

3

In [20]:
#4Ô∏è‚É£. Remove all elements from a list items = ['a', 'b', 'c'] (clear the list).
items = ['a', 'b', 'c']
items.clear()
print(items)

[]

In [26]:
#using slicing
items = ['a', 'b', 'c']
items[:]=[]
print(items)

[]

In [1]:
#using for loops
items1 = ['a', 'b', 'c']
for i in items1:
    items1.remove(i)
print(items1)
#always use a copy of the list, else the pointer will move to the next element and the list wont be empty

['b']

In [5]:
items1 = ['a', 'b', 'c']
for i in items1[:]:
    items1.remove(i)
print(items1)

[]

In [9]:
#5Ô∏è‚É£. Find the maximum and minimum in marks = [55, 88, 34, 91, 64] using built-in functions.
marks = [55, 88, 34, 91, 64]
print(max(marks))
print(min(marks))

91
34

In [11]:
#6Ô∏è‚É£. Print only the odd-indexed elements from data = [10, 20, 30, 40, 50, 60].
data = [10, 20, 30, 40, 50, 60]
for i in range(len(data)):
    if(i%2!=0):
        print(data[i])

20
40
60

In [15]:
#using slicing
data1 = [10, 20, 30, 40, 50, 60]
print(data1[1::2])

[20, 40, 60]

In [23]:
#7Ô∏è‚É£. Check if 9 is in the list numbers = [1, 3, 5, 7, 9, 11].
numbers = [1, 3, 5, 7, 9, 11,9]
if(9 in numbers):
    print("yes")
else:
    print("no")

yes

In [27]:
#8Ô∏è‚É£. Copy the list original = [2, 4, 6] to a new list without using slicing.
original = [2, 4, 6]
new=original.copy()
print(new)

[2, 4, 6]

In [29]:
#with slicing
original1 = [2, 4, 6]
copyog=original[:]
print(copyog)

[2, 4, 6]

In [37]:
#9Ô∏è‚É£. Reverse the list days = ['Mon', 'Tue', 'Wed', 'Thu'] using reversed() function.
days = ['Mon', 'Tue', 'Wed', 'Thu']
days.reverse()
print(days)
#.reverse() is a method, not a function.

['Thu', 'Wed', 'Tue', 'Mon']

In [45]:
days2 = ['Mon', 'Tue', 'Wed', 'Thu']
reversed_days=list(reversed(days2))
print(reversed_days)

['Thu', 'Wed', 'Tue', 'Mon']

In [47]:
days3 = ['Mon', 'Tue', 'Wed', 'Thu']
reversed_days=tuple(reversed(days3))
print(reversed_days)

('Thu', 'Wed', 'Tue', 'Mon')

In [49]:
days4 = ['Mon', 'Tue', 'Wed', 'Thu']
reversed_days=set(reversed(days4))
print(reversed_days)

{'Mon', 'Tue', 'Thu', 'Wed'}

In [51]:
days5 = ['Mon', 'Tue', 'Wed', 'Thu']
reversed_days=dict(reversed(days5))
print(reversed_days)
#reversed(days5) returns a reverse iterator over a list of strings.

#dict() expects an iterable of key-value pairs
#[('a', 1), ('b', 2)]

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [53]:
days6=[('Mon', 1), ('Tues', 2),('Wed',3),('Thur',4)]
reversed_days1=dict(reversed(days6))
print(reversed_days1)
# because days6 is a list of key-value pairs (tuples), which dict() can understand.

{'Thur': 4, 'Wed': 3, 'Tues': 2, 'Mon': 1}

In [55]:
days7=[('Mon', 1), ('Tues', 2),('Wed',3),('Thur',4)]
daysdict=dict(days6)
print(daysdict)
#converted a list of tuples(2-elements-each) into dictionary

{'Mon': 1, 'Tues': 2, 'Wed': 3, 'Thur': 4}

In [39]:
#using slicing
days1 = ['Mon', 'Tue', 'Wed', 'Thu']
print(days1[::-1])

['Thu', 'Wed', 'Tue', 'Mon']

In [57]:
#üîü. Remove the first occurrence of 3 from this list: a = [1, 2, 3, 4, 3, 5].
a = [1, 2, 3, 4, 3, 5]
for i in a:
    if(i==3):
        a.remove(3)
        break
print(a)

[1, 2, 4, 3, 5]

In [59]:
# remove() ‚Äî What it does:
# list.remove(value) removes only the first occurrence of the given value.
# It does not care about the index.
# It removes the first match from the left (start of the list).
a1 = [1, 2, 3, 4, 3, 5]
a1.remove(3)
print(a1)

[1, 2, 4, 3, 5]

# ** Intermediate List Questions ‚Äì Set 1**

In [64]:
# 1Ô∏è‚É£. Given a list of numbers, create a new list containing only the squares of even numbers.
# nums = [1, 2, 3, 4, 5, 6] ‚Üí Output: [4, 16, 36]
nums = [1, 2, 3, 4, 5, 6]
newsq=[]
for i in nums:
    if(i%2==0):
        newsq.append(i**2)
print(newsq)

[4, 16, 36]

In [66]:
# 2Ô∏è‚É£. Flatten a nested list:
# nested = [[1, 2], [3, 4], [5]] ‚Üí Output: [1, 2, 3, 4, 5]
nested = [[1, 2], [3, 4], [5]]
flatten=[]
for i in nested:
    if(type(i)==list):
        flatten.extend(i)
    else:
        flatten.append(i)
print(flatten)

[1, 2, 3, 4, 5]

In [70]:
#flatten a deeper nested list
deepernested=[[1, [2, 3]], 4]  # deeper nesting
flatten1=[]
for i in deepernested:
    if(type(i)==list):
        flatten1.extend(i)
    else:
        flatten1.append(i)
print(flatten1)
flattenfinal=[]
for i in flatten1:
    if(type(i)==list):
        flattenfinal.extend(i)
    else:
        flattenfinal.append(i)
print(flattenfinal)

[1, [2, 3], 4]
[1, 2, 3, 4]

In [82]:
# 3Ô∏è‚É£. Remove duplicates from a list using a loop (don‚Äôt use set).
# b = [1, 2, 2, 3, 4, 4, 5] ‚Üí Output: [1, 2, 3, 4, 5]
b = [1, 2, 2, 3, 4, 4, 5,5,5]
unique=[]
for i in b:
    if(i not in unique):
        unique.append(i)
print(unique)

[1, 2, 3, 4, 5]

In [84]:
b1 = [1, 2, 2, 3, 4, 4, 5,5,5]
unique1=set(b1)
print(unique1)
#converted into set but unordered

{1, 2, 3, 4, 5}

In [86]:
b2 = [1, 2, 2, 3, 4, 4, 5,5,5]
unique2=list(set(b2))
print(unique2)
#into list  form, But remember, the order may not be preserved because set is unordered.

[1, 2, 3, 4, 5]

In [88]:
#using set and also preserving the order and give result in list
b2 = [1, 2, 2, 3, 4, 4, 5,5,5]
seenset=set()
unique3=[]
for i in b2:
    if(i not in seenset):
        unique3.append(i)
        seenset.add(i)
print(unique3)

[1, 2, 3, 4, 5]

In [98]:
#4Ô∏è‚É£. Find the second largest number in a list nums = [10, 20, 4, 45, 99].\
nums = [10, 20, 4, 45, 99,500,234]
maximum=0
smaximum=1
for i in range(len(nums)):
    if(nums[i]>maximum):
        smaximum=maximum
        maximum=nums[i]
    elif(nums[i]>smaximum and nums[i]!=maximum):
        smaximum=nums[i]
print("maximum is:",maximum)
print("smax is:",smaximum)

maximum is: 500
smax is: 234

In [3]:
#If your list had only negative numbers, this line:
# maximum = 0
# smaximum = 1
# would break the logic, since no negative number is greater than 0.

# Best Practice:
# Use negative infinity to support any kind of numbers:
# maximum = float('-inf')
# smaximum = float('-inf')


nums1 = [10, 20, 4, 45, 99,500,234,1000]
maximum=float("-inf")
smaximum=float("-inf")
for i in range(len(nums1)):
    if(nums1[i]>maximum):
        smaximum=maximum
        maximum=nums1[i]
    elif(nums1[i]>smaximum and nums1[i]!=maximum):
        smaximum=nums1[i]
print("maximum is:",maximum)
print("smax is:",smaximum)

maximum is: 1000
smax is: 500

In [5]:
#5Ô∏è‚É£. Rotate a list one step to the right.
#a = [1, 2, 3, 4, 5] ‚Üí Output: [5, 1, 2, 3, 4]
a = [1, 2, 3, 4, 5] 
p=a.pop()
a.insert(0,p)
print(a)

[5, 1, 2, 3, 4]

In [13]:
c = [1, 2, 3, 4, 5] 
for _ in range(3):
    c.insert(0,c.pop())
print(c)

# Why use _?
# In Python, _ is often used:
# When you don‚Äôt care about the loop variable
# To show that it‚Äôs not going to be used

[3, 4, 5, 1, 2]

In [15]:
#6Ô∏è‚É£. Count how many elements are greater than 50 in marks = [49, 65, 70, 32, 88].
marks = [49, 65, 70, 32, 88]
count=0
for i in marks:
    if(i>50):
        count+=1
print(count)

3

In [17]:
# 7Ô∏è‚É£. From a list of strings, filter out only strings with length > 3.
# words = ['hi', 'hello', 'cat', 'tiger'] ‚Üí Output: ['hello', 'tiger']
words = ['hi', 'hello', 'cat', 'tiger']
for i in words:
    if(len(i)>3):
        print(i)

hello
tiger

In [19]:
#filtered in a list
words1 = ['hi', 'hello', 'cat', 'tiger']
f=[]
for i in words1:
    if(len(i)>3):
        f.append(i)
print(f)

['hello', 'tiger']

In [21]:
#8Ô∏è‚É£. Sort a list in descending order without using .sort() or sorted().
nums = [45, 12, 89, 33, 67, 3, 78, 100, 56, 21, 9]
nums.sort()
print(nums)
#ascending order using sort()

[3, 9, 12, 21, 33, 45, 56, 67, 78, 89, 100]

In [27]:
nums1 = [45, 12, 89, 33, 67, 3, 78, 100, 56, 21, 9]
nums1.sort(reverse=True)
print(nums1)
#in descending order using sort()

[100, 89, 78, 67, 56, 45, 33, 21, 12, 9, 3]

In [31]:
nums2 = [45, 12, 89, 33, 67, 3, 78, 100, 56, 21, 9]
start=0
next=1
while(next<=len(nums2)-1):
    if(nums2[start]>nums2[next]):
        nums2[start],nums2[next]=nums2[next],nums2[start]
        start=0
        next=1
    else:
        start+=1
        next=start+1
print(nums2)

[3, 9, 12, 21, 33, 45, 56, 67, 78, 89, 100]

In [37]:
#sorting use nested for loops(ascending order)
nums3 = [45, 12, 89, 33, 67, 3, 78, 100, 56, 21, 9]
for i in range(len(nums3)):
    for j in range(i+1,len(nums3)):
        if(nums3[i]>nums3[j]):
            nums3[i],nums3[j]=nums3[j],nums3[i]
print(nums3)

[3, 9, 12, 21, 33, 45, 56, 67, 78, 89, 100]

In [39]:
#sorting use nested for loops(descending order)
nums3 = [45, 12, 89, 33, 67, 3, 78, 100, 56, 21, 9]
for i in range(len(nums3)):
    for j in range(i+1,len(nums3)):
        if(nums3[i]<nums3[j]):
            nums3[i],nums3[j]=nums3[j],nums3[i]
print(nums3)

[100, 89, 78, 67, 56, 45, 33, 21, 12, 9, 3]

In [3]:
#sorted using one loop
nums2 =  [45, 12, 89, 33, 67, 3, 78, 100, 56, 21, 9]

start=0
next=1
while(start<len(nums2)-1):
    if(next<len(nums2)):
        if(nums2[start]>nums2[next]):
            nums2[start],nums2[next] = nums2[next],nums2[start]
        next+=1
    else:
        start += 1
        next = start+1
print(nums2)

[3, 9, 12, 21, 33, 45, 56, 67, 78, 89, 100]

In [17]:
# 9Ô∏è‚É£. Swap the first and last elements of a list.
# a = [10, 20, 30, 40] ‚Üí Output: [40, 20, 30, 10]
a = [10, 20, 30, 40]
start=0
end=len(a)-1
for i in range(0,1):
    a[start],a[end]=a[end],a[start]
print(a)

[40, 20, 30, 10]

In [15]:
#without loop
a = [10, 20, 30, 40]
a[0], a[-1] = a[-1], a[0]
print(a)

[40, 20, 30, 10]

In [19]:
#üîü. Print a list with only the numbers divisible by both 3 and 5 from range(1, 100).
listdiv=[]
for i in range(1,100):
    if(i%3==0 and i%5==0):
        listdiv.append(i)
print(listdiv)

[15, 30, 45, 60, 75, 90]